html {
	background:url(https://www.jakpost.travel/wimages/large/11-110382_colorful-wallpaper-hd-images-light-colorful-backgrounds-plain.jpg);
	 -webkit-background-size: cover;
}

div {
	text-align: center;
}